@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стилизация полосы прокрутки */ /* Ширина вертикальной полосы прокрутки */

::-webkit-scrollbar {
  width: 2px; /* Ширина вертикальной полосы прокрутки */
  height: 7px; /* Высота горизонтальной полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background: #a7a7a7a4; /* Цвет ползунка полосы прокрутки */
  border-radius: 6px; /* Закругленные углы ползунка */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет ползунка при наведении */
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: white !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 100 !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  width: 10px !important;
  height: 10px !important;
  opacity: 100 !important;
}

.swiper-pagination {
  z-index: 1000 !important;
  /* bottom: 50px !important; */
}
.swiper-button-prev,
.swiper-button-next {
  padding: 0px 10px;
  opacity: 0 !important;
  color: white !important;
  font-size: xx-large !important;
  width: 50px !important;
  height: 100% !important;
  top: 50% !important;
  transition: all 0.5s ease 0s;
  transform: translateY(-39%);
}

.swiper-button-prev {
  left: 0 !important;
  justify-content: flex-start !important;
}

.swiper-button-next {
  justify-content: flex-end !important;
  right: 0 !important;
}

.swiper:hover {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1 !important;
    transition: all 0.5s ease 0s;
  }
}
